$("#client-modal").html("<%= j (render partial: 'form', locals:{ size: '' } ) %>")

$("#client-modal").modal('show')

$("#form-contact").on("ajax:success", function(event) {
  let msg = JSON.parse(event.detail[2].response)
  noty_alert(msg.status, msg.msg)
  $("#contacts_list").append(`
  	<div class="g-brd-blue-left u-shadow-v2 g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-10 g-mb-30 col-8 col-sm-4 col-md-3 g-mr-5">
      <p class="mb-0"><strong>Nombre:</strong>${msg.contact.name}</p>
      <p class="mb-0"><strong>Parentezco:</strong>${msg.contact.relationship}</p>
      <p class="mb-0"><strong>Tel:</strong>${msg.contact.phone}</p>
    </div>
	`)
    $("#client-modal").modal('hide')
  }).on("ajax:error", function(event) {
	let msg = JSON.parse( event.detail[2].response )
	$.each( msg, function( key, value ) {
		$(`#form-contact #contact_${key}`).addClass('is-invalid')
		$(`#form-contact .contact_${key}`).text( value ).show('slow')
	})
})