$("#modal-land").html("<%= j (render partial: 'shared/modal', locals:{ size: 'xl' } ) %>")
$('.select-2-client-land').select2({ width: '80%',theme: "bootstrap4" })
setInputDate("#date")
sale.precio = document.getElementById("price").value
document.getElementById('price').disabled = sale.precio != 0
set_currency_fn()

$("#modal-land").modal('show')


sale.cuotas = 0
sale.resto =  document.getElementById("price").value
sale.cant_payments = 0;
sale.cant_payment_files = 0;
sale.entrega = 0;


document.getElementById('price').disabled = sale.precio != 0
set_currency_fn()
function fee_start_date_info(){
	noty_alert('info', 'Si coloca una fecha las cuotas corren a partir de esa fecha. En caso de colocar día de vencimiento se tomara ese día de vencimiento. Si no coloca fecha se toma como referencia la fecha de venta', 10000)
}

document.getElementById('add-client').addEventListener('click', (event) => {
	event.preventDefault()
	let client = document.getElementById('client_id')
	if (client.value != null && client.value != '') {
		let client_name =  $('#client_id option:selected').text()
		$('.client-list').append(`
			<div class="row" id="${client.value}">
				<div class="mb-2  mx-4 col-6">
					<input type="text" value="${client_name}" class="client-id form-control rounded-0 " data-id=${client.value} disabled></input>
				</div>
				<div>
					<button type="button" class="btn u-btn-red remove-client" onclick="remove_client(${client.value})" title="Quitar comprador"> <i class="fa fa-trash"></i> </button>
				</div>
			</div>
		`)
		$('#client_id option:selected').attr('disabled', 'disabled')
		$('.select-2-client-land').val('').trigger('change')
	} else {
		noty_alert('error', 'Error al agregar el cliente a la lista')
	}
})

function remove_client( id ) {
	event.preventDefault()
	let element = document.getElementById(id)
	element.remove()
	$(`#client_id option[value='${id}']`).attr('disabled', false)
}

function add_clients_to_form() {
	const clients = document.getElementsByClassName('client-id')
	for (let i = 0; i < clients.length; i++) {
		sale.form.append( `sale[sale_clients_attributes][${i}][client_id]`, clients[i].id)
	}
}

function get_clients_names() {
	let names = '<ul>'
	let lista = document.getElementsByClassName('client-id')
	for (let i = lista.length - 1; i >= 0; i--) {
		names += `<li>${lista[i].value}</li>`
	}
	names += '</ul>'
	return names
}

/*JS payments*/
document.getElementById('add-payment').addEventListener('click', (e) => {
	e.preventDefault()
	sale.cant_payments++
	sale.cant_payment_files++
	$('#payment-list').append("<%= j ( render partial: 'input_pay', locals: { cp: @cp, first_label: false } ) %>")
})

function remove_payment(event){
	event.preventDefault()
	event.target.parentElement.remove()
	sale.cant_payments--
	sale.calcular_monto_pagado()
}

function calc_valor_en_pesos(e){
	const node = e.parentElement.parentElement
	const select = node.querySelector(`#payment_currency`)
	const selected = select.options[select.selectedIndex]
	let calculo_en_pesos = node.querySelector(`#calculo_en_pesos`)
	let paid = parseFloat(node.querySelector(`#payment`).value)
	let exchange_value = parseFloat(node.querySelector(`#exchange_value`).value)

	if ( !valid_number(exchange_value) || !valid_number(paid) ) {
		calculo_en_pesos.value = 0
		$('#valor_restante').html('')
		return
	}
	calculo_en_pesos.value = exchange_value * paid
}

function calculo_de_entrega() {
	const input = event.target
	const payment_currency = event.target.parentElement.parentElement.querySelector('#payment_currency')
	if (payment_currency.value == '0') {
		return
	}
	calc_valor_en_pesos(input)
	sale.calcular_monto_pagado()
}

function sumar_entregas(entrega) {
	// Sumamos todas las entregas puestas
	const payments = document.getElementsByClassName('payment-data')
	let calculo = 0
	for (let pay of payments) {
		calculo += parseFloat( pay.querySelector('#calculo_en_pesos').value )
	}
	if (!valid_number(calculo)) {
		sale.resto = sale.precio
	} else {
		sale.resto = sale.precio - calculo
	}
	entrega = calculo
}

function all_payments(form_data) {
	const payments = document.getElementsByClassName('payment-data')
	let i = 0
	for (let pay of payments) {
		let paid = parseFloat( pay.querySelector('#payment').value )
		if ( !valid_number(paid) ) {
			form_data.append('num_pays', 0 )
			pay.querySelector('#payment').parentElement.classList.add('u-has-error-v1')
			return
		}
		i++
		pay.querySelector('#payment').parentElement.classList.remove('u-has-error-v1')
		let currency_selected = pay.querySelector('#payment_currency').options[pay.querySelector('#payment_currency').selectedIndex]
		let payment_currency_id = parseInt( currency_selected.value ) 
		if (payment_currency_id == 0 ) {
			pay.querySelector('#payment_currency').parentElement.classList.add('u-has-error-v1')
			return
		}
		pay.querySelector('#payment_currency').parentElement.classList.remove('u-has-error-v1')
		let exchange_value = parseFloat( pay.querySelector('#exchange_value').value )
		let valor_en_pesos = parseFloat( pay.querySelector('#calculo_en_pesos').value )
		let detail = pay.querySelector('#name_pay')
		let date = pay.querySelector('#pay_date').value
    if ( currency_selected.dataset.exchange == 'true' && !valid_number(exchange_value) ) {
    	noty_alert('error','Debe ingresar en cuanto toma la moneda ingresada')
    	pay.querySelector('#exchange_value').classList.add('u-has-error-v1')
    	return
    }

    if ( !valid_number(valor_en_pesos) ) {
    	return
    }
    form_data.append( `payment_currency_id_${i}`, payment_currency_id )
    form_data.append( `payment_${i}`, paid );
    form_data.append( `tomado_en_${i}`, exchange_value )
    form_data.append( `value_in_pesos_${i}`, valor_en_pesos )
    form_data.append( `detail_${i}`, ( pay.querySelector('#name_pay') !== null ) ? pay.querySelector('#name_pay').value : '' )
    form_data.append( `pay_date_${i}`, date )
		let files = pay.querySelector('#fileAttachment')
		if (files !== null) {
			let totalFiles = files.files.length
			if (totalFiles > 0) {
				for (let n = 0; n < totalFiles; n++) {
	        form_data.append(`files_${i}[]`, files.files[n])
	      }
			}
		}
	}
	form_data.append('num_pays', i )
	return
}
/*END JS payments*/
// document.getElementById('paid').addEventListener('change', function(event) {
// 	calcular_monto_pagado()
// })

document.getElementById('number_of_payments').addEventListener('change', function(event) {
	sale.cuotas = this.value
	calular_valor_cuota()
})

function calular_valor_cuota() {
	if (sale.cuotas > 0 && sale.resto > 0) {
		sale.valor_cuota = sale.resto / sale.cuotas
		sale.valor_cuota = roundToTwo( sale.valor_cuota )
		document.getElementById('valor_cuota').value = sale.valor_cuota
	} else if (sale.cuotas > 0) {
		sale.valor_cuota = sale.precio / sale.cuotas
		sale.valor_cuota = roundToTwo( sale.valor_cuota )
		document.getElementById('valor_cuota').value = sale.valor_cuota
	}
}

document.getElementById('setear_cuotas').addEventListener('click', function(e){
	let cantidad_de_cuotas = document.getElementById('number_of_payments')
	if ( this.checked ) {
		if (cantidad_de_cuotas.value == '' || cantidad_de_cuotas.value < 1) {
			cantidad_de_cuotas.classList.add('is-invalid')
			noty_alert('error', 'Debe ingresar una cantidad de cuotas')
			this.checked = false
			return
		} else {
			cantidad_de_cuotas.classList.remove('is-invalid')
		}
		document.getElementById('cuotas_automaticas').style.display = 'none'
		sale.set_cuotas( cantidad_de_cuotas.value, 'cuotas_manual' )
		cantidad_de_cuotas.disabled = true
	} else {
		document.getElementById('cuotas_manual').innerHTML = ''
		cantidad_de_cuotas.classList.remove('is-invalid')
		cantidad_de_cuotas.disabled = false
		document.getElementById('cuotas_automaticas').style.display = 'block'
	}
})

function get_cuotas_manual() {
	let cuotas = []
	let cantidad_de_cuotas = parseInt( document.getElementById('number_of_payments').value ) + 1

	for (let i = 1; i < cantidad_de_cuotas; i++) {
		let valor_cuota = parseFloat( document.getElementById(`cuota_n_${i}`).value )
		if (valor_cuota == '' || isNaN(valor_cuota)) {
			document.getElementById(`cuota_n_${i}`).classList.add('is-invalid')
			return null
		} else {
			document.getElementById(`cuota_n_${i}`).classList.remove('is-invalid')
		}
		cuotas.push( valor_cuota )
	}
	return cuotas
}

document.getElementById('apply_arrear').addEventListener('click', function(e){
	document.getElementById('arrear').required = this.checked
})

document.getElementById('submit-form-land-sale').addEventListener('click', (event) => {
	event.preventDefault()
	
	set_form_sale()
	const bought = document.getElementById('bought').checked
	if (bought) {
		if ( valid_land_bought() ) {
			$("#modal-land-sale-confirm").html("<%= j (render 'modal_confirm_bought') %>")
			$("#modal-land-sale-confirm").modal('show')
		}
	} else {
		if ( validaciones_sale_form() ) {
			$("#modal-land-sale-confirm").html("<%= j (render 'modal_confirm') %>")
			populate_land_sale_confirm()
			$("#modal-land-sale-confirm").modal('show')
		}
	}
})

function send_sale(){
	const url = ( document.getElementById('bought').checked ) ? '/sales/create_bought' : '/sales/'
	fetch(url, {
      method: 'POST',
      headers: {           
        'X-CSRF-Token': document.getElementsByName('csrf-token')[0].content,
      },
      body: sale.form
    }
  )
  .then( response => response.json() )
  .then( response => {
  	if (response.status === 'success') {
  		lands_table.ajax.reload(null,false)
	    $("#modal-land").modal('hide')
	    $("#modal-land-sale-confirm").modal('hide')
  	}
  	noty_alert(response.status, response.msg)
  } )
  .catch( error => noty_alert('error', 'Ocurrio un error, no se pudo registrar la venta') )
}

function set_form_sale() {
	sale.form = new FormData()
	add_clients_to_form()
	sale.form.append('sale[bought]', document.getElementById('bought').checked)
	sale.form.append("sale[land_id]", document.getElementById('land_id').value)
	sale.form.append("sale[sale_products_attributes][product_id]", document.getElementById('product_id').value)
	sale.form.append("sale[sale_products_attributes][product_type]", document.getElementById('product_type').value)

	sale.form.append("sale[comment]", document.getElementById('comment').value)
	sale.form.append("sale[apply_arrear]", document.getElementById('apply_arrear').checked)
	sale.form.append("sale[arrear]", document.getElementById('arrear').value)
	sale.form.append("sale[due_day]", document.getElementById('due_day').value)
	sale.form.append("sale[fee_start_date]", document.getElementById('fee_start_date').value)
	sale.form.append("sale[price]", document.getElementById('price').value)
	sale.form.append("sale[date]", document.getElementById('date').value )
	sale.form.append("sale[number_of_payments]", document.getElementById('number_of_payments').value )
	sale.form.append("sale[setear_cuotas_manual]", document.getElementById('setear_cuotas').checked)
	if ( sale.form.get('setear_cuotas_manual') == 'true' ) {
  	sale.form.append("valores_cuota[]", get_cuotas_manual() )
	} else {
		sale.form.append("valor_cuota", parseFloat( document.getElementById('valor_cuota').value))
	  sale.form.append("number_cuota_increase", document.getElementById('number_cuota_increase').value )
	  sale.form.append("valor_cuota_aumentada", document.getElementById('valor_cuota_aumentada').value )
	}

  all_payments(sale.form)
}

function validaciones_sale_form() {

	// validaciones aqui
	if ($('#fecha_compra').val() === '') {
		noty_alert( 'error', 'Debe seleccionar una fecha' )
		return false
	}

	if (sale.form.get('clients[]').length == 0) {
		noty_alert( 'error', 'No ha seleccionado clientes.' )
		return false
	}

	if (sale.form.get('number_of_payments') == '' ) {
		document.getElementById('number_of_payments').parentElement.classList.add('u-has-error-v1')
		$('#msg_number_of_payment').html('')
		$('#msg_number_of_payment').append(`<p class='text-danger ml-4'> Debe ingresar las cuotas </>`)
		return false
	} else {
		document.getElementById('number_of_payments').parentElement.classList.remove('u-has-error-v1')
		$('#msg_number_of_payment').html('')
	}

	if ( sale.form.get('setear_cuotas_manual') == 'true' ) {
		if ( sale.form.get("valores_cuota[]") == 'null' ) {
			noty_alert('error', 'Debe ingresar el valor válido a cada cuota')
			return false
		}
	} else {
		// validaciones cuotas manual
		if ( sale.form.get("number_cuota_increase") > 0 ) {
			if ( sale.form.get("valor_cuota_aumentada") == '' ) {
				noty_alert( 'error', 'Debe ingresar el valor aumentado de la cuota.' )
				return false
			}
			if ( parseInt( sale.form.get("number_cuota_increase") ) > parseInt( sale.form.get('number_of_payments') ) ) {
				document.getElementById('number_cuota_increase').classList.add('u-has-error-v1')
				noty_alert( 'error', 'Cuota de aumento es mayor a la cantidad de cuotas' )
				return false
			} else 
				document.getElementById('number_cuota_increase').classList.remove('u-has-error-v1')
		}

		if ( sale.form.get("number_cuota_increase") == '' && sale.form.get("valor_cuota_aumentada") > 0 ) {
			noty_alert( 'error', 'Debe ingresar a partir de que cuota aumenta el valor.' )
			return false
		}

		if (document.getElementById('apply_arrear').checked && document.getElementById('arrear').value == '') {
			noty_alert('error', 'Debe ingresar % de mora')
			return false
		}

		if ( ( document.getElementsByClassName('payment-data').length != sale.form.get("num_pays") ) && document.getElementsByClassName('payment-data').length > 1 ) {
			noty_alert('error', 'Datos invalidos en primer pago', sale.form.get("num_pays"))
			return false
		}

		if (suma_cuotas_sale_land() < sale.resto) {
			noty_alert('error', `El valor a pagar en cuotas es menor al que corresponde: $${numberFormat.format(suma_cuotas_sale_land()) }, deberia ser $${numberFormat.format(sale.resto) }`)
			return false
		}
	}

	return true
}

function valid_land_bought(){
	// validaciones para cuando el lote ya esta vendido
	if ($('#fecha_compra').val() === '') {
		noty_alert( 'error', 'Debe seleccionar una fecha' )
		return false
	}

	if (sale.form.get('clients[]').length == 0) {
		noty_alert( 'error', 'No ha seleccionado clientes.' )
		return false
	}

	return true
}

function populate_land_sale_confirm(){
	populate_land_sale_data('Valor del lote', `$${numberFormat.format(sale.precio)}`)
	populate_land_sale_data('Fecha de la compra', format_date(sale.form.get("date")))
	populate_land_sale_data('Compradores', get_clients_names() )
	populate_land_sale_data('Primer entrega', `$${numberFormat.format(sale.entrega)}` )
	populate_land_sale_data('Cuotas', sale.form.get("number_of_payments") )
	populate_land_sale_data('A pagar en cuotas', `$${numberFormat.format(suma_cuotas_sale_land()) }` )
}

function populate_land_sale_data(name, info){
	const tbody = document.getElementById('sale-data')
	tbody.innerHTML += `
		<tr>
			<td>${name}</td>
			<td>${info}</td>
		</tr>
	`
}

function suma_cuotas_sale_land(){
	let suma = 0
	if ( sale.form.get('setear_cuotas_manual') == 'true' ) {
		let cuotas = document.getElementsByClassName('cuota_n')
		for (let cuota of cuotas) {
			suma += parseFloat(cuota.value)
		}
	} else {
		if ( (sale.form.get('number_cuota_increase') > 0) && (sale.form.get('valor_cuota_aumentada') > 0) ) {
			suma = (sale.form.get('number_cuota_increase') - 1) * sale.form.get('valor_cuota')
			suma += ( sale.form.get('number_of_payments') - sale.form.get('number_cuota_increase') + 1 ) * sale.form.get('valor_cuota_aumentada')
		} else {
			suma = sale.form.get('number_of_payments') * sale.form.get('valor_cuota')
		}
	}
	return suma
}
